/*! *****************************************************************************
    Author: dga711  in 2020
***************************************************************************** */

@font-face {
    font-family: "Consolas";
    src: url("/Fonts/consola.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#DebugPanel {
    background-color: cornflowerblue;
    opacity: 0.8;
    width: 40%;
    min-height: 32px;
    height: auto;
    font-size: 14px;
}

#DebugPanel.collapsed {
    width: 105px;
    opacity: 0.3;
}

.Console {
    font-size: 13px;
    font-family: "Consolas";
    min-height: 50px;
    padding: 4px;
    margin:4px;
    width: 98%;
    overflow: auto;
}

#debugContent.collapsed {
    display: none;
}

.debugButton {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 2px;
}

#debugHeader {
    background-color: cornflowerblue;
    vertical-align: middle;
    height: 28px;
    padding: 8px;
}

#debugHeader button {
    width: 20px;
    margin-top: -1px
}